@import './structure.css';
@import './header.css';

.page404 {
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 10px;
}
.para {
    width: 220px;
    font-size: 20px;
}
.donut {

}